<style>
.TableHtml table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.TableHtml  td, .TableHtml th {
	border: 1px solid #ddd;
	padding: 8px;
}

.TableHtml th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: green;
	color: white;
}

#id_TableHtml tr:nth-child(even){background-color: blue;}

#id_TableHtml tr:hover {background-color: gray; color: white;}
</style>